#user-main-content
  .row
    %table.table-bordered.table-hover.col-md-12
      %h2 Appointments
      #weeks-appointments
        %thead
          %tr
            %th.col-md-4 Date
            %th.col-md-8 Service
        %tbody
          = render "appointments"
    / .col-md-8
    /   #calendar
  .row
    .col-lg-12
      %h2 Favorite Services
      = render 'favorite_services'
      = link_to "Edit Your Details", edit_user_registration_path, class: 'btn btn-default'

