%h2 Scheduler
.btn
  = link_to "Edit Settings", edit_user_registration_path

#user-main-content
  .row
    .col-md-4
    .col-md-8
      #calendar

.user-info
  .name
    =@user.full_name
  .role
    =@user.role

