%h1 User Show Page
.user-info
  .name
    =@user.full_name
  .role
    =@user.role
  .btn
    = link_to "Edit Settings", edit_user_registration_path

.container#user-main-content
  .row
    .span10.offset1
      .calendar