%h1=@salon.name
#salon-show
  .row
    .col-lg-8
      %img.img-responsive.img-rounded{src: set_default_image(@salon) }/
      / take out img-rounded if you don't want the rounded corners on the image
    .col-lg-4
      %h1 Business Name or Tagline
      %p This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
      %a.btn.btn-primary.btn-lg{href: "#"} Call to Action!
  %hr/
  .row
    .col-lg-12
      .well.text-center
        This is a well that is a great spot for a business tagline or phone number for easy access!
  .row
    .col-lg-4
      %h2 Services
      = render 'services'
      %a.btn.btn-default{href: "#"} More Info
    .col-lg-4
      %h2 Heading 2
      %p Phasellus vestibulum sagittis purus laoreet varius. Pellentesque malesuada malesuada mattis. Aliquam sed porta nisi, eget suscipit dolor. Nam ipsum sapien, rhoncus eu leo eu, ultricies pellentesque tellus.
      %a.btn.btn-default{href: "#"} More Info
    .col-lg-4
      %h2 Heading 3
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin auctor quam ac tempor. Cras a ante sed libero mollis sodales. Praesent fringilla, neque ut ultrices faucibus, dolor eros ultrices neque, nec bibendum arcu ipsum eget justo.
      %a.btn.btn-default{href: "#"} More Info