/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker3
 *= require_tree 
*/
html{
  text-align: center;
}

a:hover{
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

.basic-menu{
  width: 40%;
}

html, body, #ebtf { height: 100%; }
body > #ebtf { height: auto; min-height: 100%; }

#ebtf{
  margin-bottom: 80px;
}

#ebtf-landing{
  height: 99%;
}

.global-footer{
  clear: both;
  position: relative;
  height: 1em;
  margin-top: -3em;
  border-top: solid 2px black;
}

.edit-form{
  margin: 0 auto;
}

#main-title{
  color: black;
  font-size: 5em;
}

#main-title a:hover{
  text-decoration: none;
  color: black;
}

#main-title a:visited{
  text-decoration: none;
  color: black;
}

#weeks-appointments{
  background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

#calendar{
    margin: 0px 25px;
    padding: 35px 20px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.salon_index_image{
  max-width: 40%;
}

thead{
  margin-bottom: 20px;
}

#client-sidebar{

}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

#salon-show{
  margin-right: 50px;
}

#container{
  margin: 0 auto;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.image-upload-form{
  margin-left: auto;
  margin-right: auto;
}
.brand{
  text-align: left;
  font-family: 'Playfair Display SC', serif;
}

.brand a{
  font-size: 25px;
}

#landing-title{
  font-family: 'Playfair Display SC', serif;
  font-size: 65px;
}

#landing-description{
  font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
}

.blank-header{
  height: 150px;
}

.landing-content{

}

ul{
list-style-type: none;

}

.login{
  text-align: right;
}
.badge{
  background-color: #5bc0de;
}

.badge a{
  color: white;
}

.badge a:hover{
  text-decoration: none;
}

tbody{
  text-align: left;
}

.divider{
  border-bottom: 1px solid #ccc;
  width: 55%;
  margin-left: 30%;
  margin-right: auto;
}

.custom-signup-form{
  margin-top: 20px;
}

