.sidebar-nav#salon-sidebar
  %ul.nav.nav-pills.nav-stacked
    %li= link_to "Dashboard", user_path(current_user)
    %li=link_to "Search", salons_path
    %li=link_to "Profile", salon_path(current_user.managed_salon)