!!!
%html
  %head
    %title BeautyBook
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}/
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400italic,700', type: 'text/css' }
    = stylesheet_link_tag "application", :media => "all"